<div class="menu-container">
  <div class="pages-list-container">
    <div class="dashboard-text-area"><i class="fa fa-tachometer" aria-hidden="true"></i><span
        class="dashboard-text">Dashboard Kit</span></div>
    <div *ngFor="let page of pageList">
      <ul>
        <li>
          <a class="list-item" [routerLink]="page.link" routerLinkActive="active-link">
            <i class="{{ page.icon }}" aria-hidden="true"></i>
            <div class="list-text">{{ page.name }}</div>
          </a>
        </li>
        <!-- <mat-icon>{{ page.icon }}</mat-icon> -->
      </ul>
    </div>
    <div class="line"></div>
    <div class="settings-area">
      <div *ngFor="let setting of settings">
        <ul>
          <li>
            <a class="list-item">
              <i class="{{ setting.icon }}" aria-hidden="true"></i>
              <div class="list-text">{{ setting.name }}</div>
            </a>
          </li>
        </ul>


      </div>
    </div>
  </div>
</div>