.menu-container {
    top: 0;
    left: 0;
    background-color: rgb(58, 58, 58);
    width: 200px;
    height: 100%;
    display: inline-block;
    position: fixed;
    transition: 200ms ease-out;
    transition-delay: 200ms;
    box-shadow: 3px 0px 6px rgba(#000, 0.16);
    z-index: 1003;
  }
  .list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(55%);
    transition: 200ms ease-out;
    transition-delay: 200ms;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
  }
  .list-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.8em;
    padding: 10px;
    // padding-top: 3px;
    // padding-bottom: 3px;
    // padding-left: 15%;
    cursor: pointer;
  }
  .pages-list-container {
    width: 100%;
    // margin-top: 70px;
  }
  .sidebar-menu{
    padding: 1rem;
  }
  li{
    margin-bottom: 1rem;
    list-style: none;
  }
 

  .dashboard-text-area{
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 16px;
  }
  .dashboard-text{
    color: rgb(242, 236, 247);
    margin-left: 10px;
  }
  .list-text {
    color:  rgb(242, 236, 247);
    // opacity: 0;  
    margin-left: 15px;
    transition: 200ms ease-out;
    transition-delay: 200ms;
    text-transform: uppercase;
  }
  .settings-area{
    margin-top: 30px;
  }
  ul{
    padding-left: 15px;
  }
  ::ng-deep .fa {
    width: 15px;
    color:rgb(242, 236, 247);
  }
  .line{
    border-bottom: 1px rgb(100, 100, 100) solid;
  }
 