<div class="container">
    <div class="scene">
      <div class="box">
          <mat-card class="login-register-mat-card">
            <mat-card-content>
              <form [formGroup]="loginForm">
                <mat-form-field MatFormFieldControl>
                  <input type="email" matInput placeholder="Email" formControlName="email" />
                  <mat-error>Email is required.</mat-error>
                  <mat-error>The email address is badly formatted</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" />
                  <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="!loginForm.get('password').hasError('match') && loginForm.get('password').hasError('minlength')">
                    Password should contain at least
                    {{ loginForm.get('password').errors['minlength']['requiredLength'] }}
                    character.
                  </mat-error>
                </mat-form-field>
                <mat-card-actions class="card-actions">
                  <button class="action-button" mat-raised-button color="primary" (click)="handleLoginClick()">Login</button>
                </mat-card-actions>
              </form>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
  </div>