.container {
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .scene {
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  .box {
    width: 320px;
    height: 650px;
    transition: 400ms;
    transform-origin: center center;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .login-register-mat-card {
    box-sizing: border-box;
    // width: 100%;
    // height: 100%;
    padding-top: 50px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .card-actions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
  }
  
  .card-actions .action-button {
    width: 80%;
    margin-bottom: 12px;
  }

 
  

  
  


  