
<lib-sidebar *ngIf="loggedIn$ | async"></lib-sidebar> 
<lib-topbar  *ngIf="loggedIn$ | async"></lib-topbar>
<div [ngClass]="{ 'outlet-container': loggedIn$ | async, 'non-outlet-container': !(loggedIn$ | async) }">
    <router-outlet></router-outlet>
</div>
<!-- <div class="outlet-container">
    <router-outlet></router-outlet>
</div> -->