<div class="top-bar-area">
    <div class="top-bar-right-area">
        <div class="notification-area">
            <mat-icon>search</mat-icon>
            <mat-icon matBadgeColor="primary" matBadgeSize="small" matBadge="1">notifications
            </mat-icon>

        </div>
        <span class="name">Jane Doe</span>
    </div>
</div>