.top-bar-area{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.notification-area{
    border-right: 1px solid grey;
}
.name{
    margin-right: 55px;

}
.top-bar-right-area{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
mat-icon{
    margin-right: 20px;
    color: grey;
}