table {
    width: 100%;
  }
.table-area{
  margin: 40px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin-top: 50px;
  }
.title{
    margin-left: 4%;
    font-size: 15px;
    font-weight: 400;
    margin-top:40px;
}
.button{
  border-radius: 30px;
}
.normalButton{
  background-color: rgb(106, 236, 106);
}
.lowButton{
  background-color: rgb(250, 188, 54);
}
.highButton{
  background-color: indianred;
}
mat-icon{
  color: rgb(175, 175, 175);
}