<div class="title">Overview</div>

<div class="up-area">
    <div (click)="handleFeatureClick(val.title)" *ngFor="let val of upArea" class="card">
        <span class="card-title">{{val.title}}</span>
        <span class="card-value">{{val.value}}</span>
    </div>
</div>
<div *ngIf="data" class="data-visualition-area">
    <mat-card>
        <lib-time-series [data]="data"></lib-time-series>
    </mat-card>
    <mat-card class="middle-card-right">
        <div *ngFor="let val of middleArea" class="middle-card">
            <span class="card-title">{{val.title}}</span>
            <span class="card-value">{{val.value}}</span>
        </div>
    </mat-card>
</div>
<div *ngIf="data" class="down-area">
    <div class="down-area-left-area">
        <mat-card>
            <div class="down-area-left">
                <span class="header">Unresolved tickets</span>
                <span class="card-title">Group: <span style="color: rgb(105, 105, 105);">Support</span></span>
            </div>
            <div class="left-area-text" *ngFor="let areaLeft of downAreaLeft">
                <span> {{areaLeft.title}}</span>
                <span class="card-title"> {{areaLeft.value}}</span>
            </div>
        </mat-card>
    </div>
    <div class="down-area-left-area">
        <mat-card>
            <div class="down-area-left">
                <span class="header">Tasks</span>
                <span class="card-title">Today</span>
            </div>
            <div class="new-task-area">
                <span>Create new Task</span>
                <mat-icon>add_circle</mat-icon>
            </div>
            <div class="left-area-text" *ngFor="let areaRight of downAreaRight">
                <mat-radio-button>{{areaRight.title}}</mat-radio-button>
                <button [disabled]="areaRight.button == 'Default'" mat-raised-button color="primary" [ngClass]="{
                    newButton: areaRight.button == 'New',
                    defaultButton: areaRight.button == 'Default',
                    urgentButton: areaRight.button == 'Urgent'
                  }">{{areaRight.button}}</button>

            </div>
        </mat-card>
    </div>
</div>