.title{
    margin-left: 2.5%;
    font-size: 15px;
    font-weight: 400;
    margin-top:40px;
}
.up-area{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.middle-card{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border:1px solid rgb(214, 214, 214);
    background-color: white;
    // box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.middle-card-right{
    width: 500px;
}
.card{
    height: 100px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border:1px solid rgb(214, 214, 214);
    background-color: white;
    // box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card:hover{
    // box-shadow: 1px 3px 6px 0px rgba(11, 22, 177, 0.822);
    border:2px solid rgba(71, 43, 150, 0.836);
}
.card-value{
    font-size: 30px;
}
.card-title{
    color: rgb(148, 148, 148);
}
.data-visualition-area{
    margin-left: 30px;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
mat-card{
    width: 100%;
}
.down-area-left{
    margin-bottom:20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.down-area-left-area{
    margin-top: 10px;
    margin-left: 35px;
    width: 46%;
    display: flex;
}
.header{
    font-size: 18px;
}
.left-area-text{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(192, 189, 189, 0.87);
    padding: 15px;
}
.left-area-text:last-child{
    border-bottom: 0px;
}
.down-area{
    display: flex;
}
.disabled-text{
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(192, 189, 189, 0.87);

}
.newButton{
    background-color: rgb(106, 236, 106);
}
.urgentButton{
    background-color: rgb(250, 188, 54);
}
.new-task-area{
    border-bottom: 1px solid rgba(192, 189, 189, 0.87);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    
}
mat-icon{
    color: grey;
}