

/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(138, 145, 194, 0.082);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
  }
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
